/* Stiluri de bază pentru ecrane mici */
@media (max-width: 1500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-emphasis: none;
    }
    .containerharta {
        width: 50%;
        background-color: white;
        height: 90vh;
        display: flex;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    header {
        width: 100%;
        height: 21vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    nav {
        width: 100%;
    }
    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 160px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }
    .navigation ul > li > a {
        font-size: 14px;
    }
    .navigation ul.active {
        display: block;
    }
    .navigation ul li {
        display: block;
        margin: 15px 0;
    }
    .social-icons {
        display: none;
    }
    .menu-toggle .line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }
    #disspaear {
        display: block;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    footer, img {
        width: 100%;
    }
    footer {
        height: 48vh;
    }
    .logo img {
        width: 150px;
        height: 15vh;
    }
    .imgerbox {
        position: absolute;
        right: 0;
        padding: 207px;
    }
    .volbox p:first-child {
        font-size: 42px;
    }
    .containerdatecontact {
        width: 100%;
        height: auto;
        background-color: rgba(255, 68, 0, 0.847);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px dotted;
        overflow: hidden;
    }
}

/* Stiluri pentru ecrane mijlocii */
@media (max-width: 1200px) {
    header {
        padding: 50px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    nav {
        width: 100%;
    }
    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 160px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }
    .navigation ul > li > a {
        font-size: 14px;
    }
    .navigation ul.active {
        display: block;
    }
    .navigation ul li {
        display: block;
        margin: 15px 0;
    }
    .social-icons {
        display: none;
    }
    .volbox p:first-child {
        font-size: 39px;
    }
    .imgerbox {
        padding: 130px;
    }
    .volbox img {
        width: 220px;
    }
    #disspaear {
        width: 30%;
        font-size: 25px;
    }
    footer > h3 {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
}

/* Stiluri pentru ecrane mici */
@media (max-width: 980px) {
    header {
        padding: 50px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    nav {
        width: 100%;
    }
    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 160px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }
    .navigation ul > li > a {
        font-size: 14px;
    }
    .navigation ul.active {
        display: block;
    }
    .navigation ul li {
        display: block;
        margin: 15px 0;
    }
    .social-icons {
        display: none;
    }
    .volbox p:first-child {
        font-size: 32px;
    }
    .imgerbox {
        padding: 100px;
    }
    #disspaear {
        width: 100%;
        font-size: 20px;
    }
    .volbox img {
        width: 180px;
    }
    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    #containerhartas,
    #containercontactdate {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 100, 35);
        flex-direction: column;
        height: 111vh;
    }
    button,
    .inscris {
        width: 70%;
        height: 50px;
        border-radius: 10px;
        font-size: 30px;
        margin: 100px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        background-color: #d9ff01;
        color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        width: 100%;
        padding: 5%;
        height: 85vh;
    }
}

/* Stiluri pentru ecrane foarte mici */
@media (max-width: 797px) {
    header {
        padding: 50px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    nav {
        width: 100%;
    }
    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 160px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }
    .navigation ul > li > a {
        font-size: 14px;
    }
    .navigation ul.active {
        display: block;
    }
    .navigation ul li {
        display: block;
        margin: 15px 0;
    }
    .social-icons {
        display: none;
    }
    .volbox p:first-child {
        font-size: 27px;
    }
    #maincontacts >h1 {
        text-align: center;
        margin-top: 0px;
        font-size: 40px;
    }
    #disspaear {
        display: block;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 25px;
        width: 20%;
        text-align: center;
    }
    .logo img {
        width: 80px;
        height: 8vh;
    }
    .imgerbox {
        padding: 70px;
    }
    .containerharta {
        width: 100%;
        height: auto;
        background-color: white;
        height: 70vh;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #disspaear {
        width: 100%;
        font-size: 20px;
    }
    .volbox,
    p {
        font-size: 23px;
        color: white;
        text-align: center;
    }
    .volbox img {
        width: 120px;
    }
    .imgerbox {
        padding: 0;
    }
    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 17px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    button,
    .inscris {
        width: 69%;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        margin: 100px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        background-color: #d9ff01;
        color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 690px) {
    #containerhartas,
    #containercontactdate {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 100, 35);
        flex-direction: column;
    }
    .containerharta {
        width: 100%;
        height: auto;
        background-color: white;
        height: 70vh;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #disspaear {
        font-size: 15px;
    }
    header {
        padding: 5%;
    }
}

@media (max-width: 560px) {
    #containerhartas,
    #containercontactdate {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 100, 35);
        flex-direction: column;
        height: 80vh;
        padding: 10px;
    }
    #disspaear {
        font-size: 20px;
    }
    .logo img {
        width: 80px;
        height: 8vh;
    }
    .containerharta {
        width: 100%;
        height: auto;
        background-color: white;
        height: 70vh;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    button,
    .inscris {
        width: 69%;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        margin: 55px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        background-color: #d9ff01;
        color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    #disspaear {
        display: block;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 15px;
        width: 100%;
        text-align: center;
    }
    .volbox img {
        width: 100px;
    }
    .volbox p:first-child {
        font-size: 18px;
    }
    button,
    .inscris {
        width: 67%;
        height: 50px;
        border-radius: 10px;
        font-size: 9px;
        margin: 55px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        background-color: #d9ff01;
        color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .volbox,
    p {
        font-size: 13px;
        color: white;
        text-align: center;
    }
}

@media (max-width: 376px) {
    #disspaear {
        font-size: 13px;
    }
    .volbox img {
        width: 80px;
        height: 8vh;
    }
    .volbox p:first-child {
        font-size: 17px;
    }
    .logo img {
        width: 80px;
        height: 8vh;
    }
    button,
    .inscris {
        width: 67%;
        height: 50px;
        border-radius: 10px;
        font-size: 9px;
        margin: 55px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        background-color: #d9ff01;
        color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .volbox,
    p {
        font-size: 13px;
        color: white;
        text-align: center;
    }
    #scrollToTopBtn {
        position: absolute;
        left: 70%;
    }
    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 140px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }
}
