/* Media query pentru ecrane cu lățime mai mică de 1501px */
@media (width < 1500px) {
    * {
        margin: 0;
        padding: 0;
        text-emphasis: none;
        box-sizing: border-box;
    }
    
    header {
        width: 100%;
        height: 21vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    nav {
        width: 100%;
    }

    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 160px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }

    .navigation ul > li > a {
        font-size: 14px;
    }

    .navigation ul.active {
        display: block;
    }

    .navigation ul li {
        display: block;
        margin: 15px 0;
    }

    .social-icons {
        display: none;
    }

    .menu-toggle .line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }

    footer,
    img {
        width: 100%;
    }

    footer {
        height: 48vh;
    }

    .logo img {
        width: 150px;
        height: 15vh;
    }

    #mainVol {
        width: 95%;
        background-color: rgb(132, 36, 1);
    }

    #inCeConsta {
        width: 100%;
    }

    .educatier,
    .protecMed,
    .sanatate {
        width: 100%;
        height: 70vh;
        padding: 100px;
    }

    .desprez {
        background-color: rgb(195, 54, 3);
        height: 50vh;
    }

    .h1 {
        margin: 0;
    }

    article {
        margin: 0;
        padding: 0;
        gap: 2rem;
        display: flex;
    }

    #disspaear {
        display: block;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    #scrollToTopBtn {
        position: absolute;
        left: 80%;
    }

    footer > h1 {
        text-align: center;
        width: 100%;
    }

    .asc {
        width: 100%;
        text-align: center;
    }
}

/* Media query pentru ecrane cu lățime mai mică de 1173px */
@media (width < 1172px) {
    .educatier,
    .protecMed,
    .sanatate,
    p {
        font-size: 17px;
    }

    #inCeConsta p {
        font-size: 15px;
    }

    #scrollToTopBtn {
        position: absolute;
        left: 80%;
    }

    footer > h1 {
        text-align: center;
        width: 100%;
    }
}

/* Media query pentru ecrane cu lățime mai mică de 1001px */
@media (width < 1000px) {
    #inCeConsta img {
        width: 40%;
    }

    html {
        font-size: 16px;
    }

    #scrollToTopBtn {
        position: absolute;
        left: 80%;
    }

    footer > h1 {
        text-align: center;
        width: 100%;
    }

    .desprez {
        background-color: rgb(195, 54, 3);
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desprez > p {
        text-align: center;
        display: flex;
        align-items: center;
    }

    #inCeConsta p {
        font-size: 18px;
        height: 50vh;
        overflow: hidden;
    }

    h1 {
        font-size: 50px;
    }

    #mainVol {
        width: 100%;
    }

    footer,
    img {
        width: 100%;
    }

    footer {
        height: 48vh;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 5%;
    }

    #scrollToTopBtn {
        width: 40px;
        height: 40px;
        font-size: 15px;
        position: absolute;
        bottom: 270px;
    }

    footer > h1 {
        text-align: center;
        width: 100%;
    }

    .asc {
        font-size: 18px;
    }
}

/* Media query pentru ecrane cu lățime mai mică de 701px */
@media (width < 700px) {
    #inCeConsta img {
        width: 45%;
    }

    #mainVol {
        width: 100%;
    }

    #inCeConsta p {
        font-size: 18px;
        height: 60vh;
        overflow-y: hidden;
    }

    .educatier,
    .protecMed,
    .sanatate,
    p {
        font-size: 17px;
        padding: 0px;
    }

    article {
        width: 100%;
    }

    #inCeConsta {
        width: 100%;
    }

    #mainVol {
        width: 100%;
        padding: 0;
    }

    footer,
    img {
        width: 100%;
    }

    footer {
        height: 48vh;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 5%;
    }

    #scrollToTopBtn {
        position: absolute;
        left: 80%;
    }

    footer > h1 {
        text-align: center;
        width: 100%;
    }

    form {
        width: 95%;
        padding: 5%;
        margin: 20px;
    }
}

/* Media query pentru ecrane cu lățime mai mică de 601px */
@media (width < 600px) {
    html {
        font-size: 12px;
    }

    #inCeConsta p {
        font-size: 18px;
        height: auto;
    }

    #mainVol {
        width: 100%;
    }

    .logo img {
        width: 80px;
        height: 80px;
    }

    #disspaear {
        font-size: 15px;
    }

    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 140px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }

    #scrollToTopBtn {
        position: absolute;
        left: 65%;
        top: -27%;
    }

    .educatier,
    .protecMed,
    .sanatate,
    p {
        font-size: 14px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    #inCeConsta img {
        width: 55%;
        margin: 5px;
    }
}
@media(width < 450px){
    .educatier,
    .protecMed,
    .sanatate,
    p {
        font-size: 12px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    #inCeConsta p {
        font-size: 13px;
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

/* Media query pentru ecrane cu lățime mai mică de 376px */
@media (width < 377px) {
    #scrollToTopBtn {
        position: absolute;
        left: 65%;
        top: -30%;
    }

    .logo img {
        width: 80px;
        height: 80px;
    }

    #disspaear {
        font-size: 13px;
    }

    .navigation ul {
        display: none;
        position: absolute;
        background-color: #198754;
        width: 100%;
        top: 140px;
        left: 0;
        z-index: 1000;
        text-align: center;
    }

    form {
        width: 90%;
        padding: 0%;
        margin: 20px;
    }

    article > p {
        height: 100px;
    }

    #mainVol {
        width: 100%;
        padding: 0;
    }

    #inCeConsta p {
        font-size: 12px;
        height: 50vh;
        overflow-y: hidden;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .educatier,
    .protecMed,
    .sanatate,
    p {
        font-size: 12px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    #inCeConsta img {
        width: 45%;
        margin: 5px;
    }
}
